h1{
    text-align: center;
    color:#000080;
}
h2{
    text-align: center;
    color: #000080;
}
.header{
    background-color: #ffff00;
    display: flex;
    justify-content: center;
}
.description{
    text-align: center;
    background-color: #00ffff;
}
.others{
    background-color: #00ffff;
}
.Otitle{
    text-align: center;
    background-color: #00ff00;
}
.item{
    display: flex;
    text-shadow: #800080;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.matter{
    background-color: #f0e68c;

}